/* Global Styles */
html, body {
	font-family: 'Kite One', sans-serif;
	font-size: 72px;
	color: black;
}

h2 {
	font-family: 'Roboto Mono', monospace;
	font-size: 30px;
}

.container {
	display: flex;
	justify-content: center;
	margin-bottom: 60px;
}

.body-wrapper {
	width: 60%;
	padding: 60px 0px 30px 0px;
	margin: auto;
}

.top-container {
	display: flex;
	flex-direction: column;
	margin-bottom: 70px;
}

.top {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

.name:hover {
	cursor: pointer;
}

/* Link Styles */
a {
	text-decoration: none !important;
	color: black;
	cursor: pointer;
}

a:visited {
	color: black;
}

a:highlight {
	color: black;
}

a:mouseEnter {
	cursor: pointer;
}

a:hover {
	color: gray;
	cursor: pointer;
}

/* Icons */
.icons {
	color: black;
	font-size: 24px;
	margin-left: 40px;
	margin-top: 52px;
}

.icons-mobile {
	color: black;
	font-size: 60px;
	visibility: hidden;
}

.fa {
	margin-right: 10px;
}

#link {
	font-size: 24px;
	padding-left: 20px;
}

/* Photo Styles */
.photo {
	background-size: cover;
	position: fixed;
	margin-top: 5%;
	margin-left: 34%;
	z-index: -2;
}

#elsa {
	width: 160px;
	height: 240px;
	background-image: url('../images/elsa.png');
	margin-top: 5%;
}

#music {
	width: 200px;
	height: 200px;
	margin-top: 8%;
	background-image: url('../images/music-box.jpg');
}

#space {
	width: 225px;
	height: 225px;
	margin-top: 7%;
	background-image: url('../images/space.png');
}

#life {
	width: 225px;
	height: 225px;
	margin-top: 7%;
	background-image: url('../images/life.png')
}

#road {
	width: 400px;
	height: 90px;
	margin-top: 12%;
	margin-left: 30%;
	background-image: url('../images/road.png')
}

#rent {
	width: 200px;
	height: 200px;
	margin-top: 7%;
	background-image: url('../images/rent.png')
}

#history {
	width: 300px;
	height: 300px;
	margin-top: 5%;
	margin-left: 32%;
	background-image: url('../images/history.jpg')
}

/* Project Text & Description Styling */
.projects {
	margin-top: 30px;
	margin-bottom: 50px;
}

.project-container {
	padding-bottom: 25px;
	padding-bottom: 25px;
}

.project {
	width: max-content;
}

.project:hover {
	cursor: pointer;
}

.desc {
	padding-top: 30px;
	opacity: 0;
	height: 0px;
	overflow: hidden;
}

.desc-show {
	font-family: 'Roboto Mono', monospace;
	font-size: 30px;
	padding-top: 30px;
	margin-bottom: 50px;
	opacity: 1;
	overflow: visible;
	transition: opacity 0.5s 0s;
}

.desc-link {
	color: black !important;
	cursor: default !important;
}

/* Responsive Styles */
@media (max-width: 1150px) {
	.body-wrapper {
		width: 80%;
	}
}

@media screen and (max-width: 1050px) {
	.body-wrapper {
		width: 90%;
	}
}

@media screen and (max-width: 768px) {
	.body-wrapper {
		width: 100%;
	}
}

@media and (max-width: 768px) {
	.body-wrapper {
		width: 100%;
	}
}

@media screen and (max-device-width: 600px) {
	.container {
		margin-bottom: 20px;
	}

	.desc-show {
		font-size: 24px;
	}

	.body-wrapper {
		width: 100%;
		margin: 0;
	}

	.project {
		width: auto;
	}

	.icons {
		visibility: hidden;
	}

	.icons-mobile {
		visibility: visible;
	}

	.fa {
		margin-right: 25px;
	}
}
