@import 'normalize';

a {
	color: black;

	&:hover {
		font-style: italic;
		letter-spacing: 0.055rem;
	}
}

article {
	margin-bottom: 50px;
}

body {
	align-items: center;
	box-sizing: border-box;
	display: flex;
	height: 100vh;
	justify-content: center;
	padding: 50px 20px;
}

main {
	font-family: 'Palatino';
  letter-spacing: 0.01rem;
	max-width: 600px;
}

p {
	line-height: 1.5rem;
}

ul {
	list-style-type: none;
	padding: 0;
}

.info {
	ul {
		display: flex;

		li {
			margin-right: 20px;
		}
	}
}

.work {
	li {
		line-height: 1.5rem;
	}
}

.skills {
	span {
		font-weight: bold;
	}
}

